<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<footer class="footer blog-footer" th:fragment="footer-fragment">
    <div class="blog-text-center">
        &copy;
        <a>A normal blog website.</a>  &nbsp;   • &nbsp;
        Powered by <a href="" target="_blank" th:text="${configuration.webByAuthor}"></a><br/>
        ICP <a href="http://www.beian.miit.gov.cn" th:text="${configuration.webIcp}">浙ICP备 xxxxxx-x号</a>
        Contact QQ <a href="" target="_blank" th:text="${configuration.authorContact}"></a><br/>
        <span class="ft-warn">&heartsuit;</span>
        Theme <a rel="friend" href="https://github.com/spiritree/typecho-theme-amaze" target="_blank"> Amaze</a> by <a href="https://github.com/spiritree" target="_blank">spiritree</a> & <a href="https://github.com/zjhch123" target="_blank">Jiahao.Zhang</a><br>
        <span class="ft-warn">&heartsuit;</span>
        Project ideas by <a href="https://github.com/ZHENFENG13" target="_blank">ZHENFENG13</a><br>
        <aside class="blog-rights clearfix" style="text-align: center">
            <p>本站文章除注明转载/出处外，皆为作者原创，欢迎转载，但未经作者同意必须保留此段声明，且在文章页面明显位置给出原文链接，否则保留追究法律责任的权利。</p>
        </aside>
        <aside class="blog-rights clearfix" style="text-align: center">
            <p>由于本项目前端内容属于别人的成果，开发者是在其基础进行修改，因此仅供学习和参考，不作商用，若有幸被原作者看到且对您造成影响，可联系开发者进行删除</p>
        </aside>
    </div>
</footer>
</html>