<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <title th:text="|${configuration.webName}| + ' - 用户信息'">用户信息</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Window-target" content="_top"/>
    <meta name="description" th:content="${configuration.webDescribe}">
    <link rel="shortcut icon" th:href="@{${configuration.webIcon}}"/>
    <link rel="stylesheet" th:href="@{/blogindex/css/base.css}">
    <!-- highlight -->
    <link rel="stylesheet" th:href="@{/blogindex/plugins/highlight/styles/paraiso-light.css}">
    <link rel="stylesheet" th:href="@{/blogbackground/plugins/editormd/css/editormd.css}">
    <!--    <link rel="stylesheet" th:href="@{/blogindex/plugins/highlight/styles/paraiso-light.css}">-->
    <style>
        .hljs {
            background: none;
        }
        pre code {
            white-space: pre;
        }

        blockquote {
            border-left: 4px solid #42b983;
            padding: 10px 0px 10px 15px;
            color: #777;
            background-color: rgba(66, 185, 131, .1);
            max-width: 890px;
        }
    </style>

</head>
<body>
<div th:replace="blogindex/header::nav-fragment"></div>
<header th:fragment="header-fragment" class="intro-header"
        th:style="'background-image:url(' + @{/images/header.jpg} + '); '">
    <div class="container" >
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div style="">
                        <img id="userMessage-rAvatar" th:src="@{${userDetail.userAvatar}}" style="height: 40px;width: 40px;border-radius: 100%">
                        <p th:text="${userDetail.userName}"></p>
                    </div>
                    <span class="meta">
<!--                        #dates.format(userDetail.userBirth, 'yyyy-MM-dd')-->
                        <th:block th:text="'生日:'+ (${userDetail.userBirth != null and userDetail.userBirth != ''}?${userDetail.userBirth}:'保密')" ></th:block> &nbsp;
                    </span>
                    <span class="meta">
                        <th:block th:text="'简介:'+ (${userDetail.userSignature != null and userDetail.userSignature != ''}?${userDetail.userSignature}:'此人很懒，暂无简介')" ></th:block> &nbsp;
                    </span>
                    <div class="tags post-tags">
                        <p class="tag">
                            <th:block th:text="'性别:'+ (${userDetail.userSex != null and userDetail.userSex != '' and userDetail.userSex != -1}?${userDetail.userSex}:'保密')" ></th:block>
                        </p>&nbsp;
                        <p class="tag">
                            <th:block th:text="'微信:'+ (${userDetail.userWeixin != null and userDetail.userWeixin != ''}?${userDetail.userWeixin}:'暂无')" ></th:block>
                        </p>&nbsp;
                    </div>
                    <div class="tags post-tags">
                        <p class="tag">
                            <th:block th:text="'QQ:'+ (${userDetail.userQq != null and userDetail.userQq != ''}?${userDetail.userQq}:'暂无')" ></th:block>
                        </p>&nbsp;
                        <p class="tag">
                            <th:block th:text="'手机:'+ (${userDetail.userPhone != null and userDetail.userPhone != ''}?${userDetail.userPhone}:'暂无')" ></th:block>
                        </p>&nbsp;
                    </div>
                    <div class="tags post-tags">
                        <p class="tag">
                            <th:block th:text="'毕业或所在院校:'+ (${userDetail.userSchool != null and userDetail.userSchool != ''}?${userDetail.userSchool}:'暂无')" ></th:block>
                        </p>&nbsp;
                    </div>
                    <div class="tags post-tags">
                        <p class="tag">
                            <th:block th:text="'所在公司:'+ (${userDetail.userCompany != null and userDetail.userCompany != ''}?${userDetail.userCompany}:'暂无')" ></th:block>
                        </p>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container">
    <div>
        <h1 th:text="所发文章"></h1>
    </div>
    <div th:replace="blogindex/blog-list::blog-list-fragment"></div>
    <p class="back-top" id="back-top" style="display:none"><a href="#top"><span></span></a></p>
</div>
<footer th:replace="blogindex/footer::footer-fragment"></footer>
</body>
<script th:src="@{/blogindex/plugins/jquery/jquery.min.js}"></script>
<script th:src="@{/blogindex/plugins/highlight/highlight.pack.js}"></script>
<script th:src="@{/blogbackground/plugins/editormd/editormd.min.js}"></script>
<script th:src="@{/blogbackground/plugins/editormd/lib/flowchart.min.js}"></script>
<script th:src="@{/blogbackground/plugins/editormd/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/blogbackground/plugins/editormd/lib/marked.min.js}"></script>
<script th:src="@{/blogbackground/plugins/editormd/lib/prettify.min.js}"></script>
<script th:src="@{/blogbackground/plugins/editormd/lib/raphael.min.js}"></script>
<!--<script th:src="@{/blogbackground/plugins/editormd/lib/sequence-diagram.min.js}"></script>-->
<script th:src="@{/blogbackground/plugins/editormd/lib/underscore.min.js}"></script>
<script th:src="@{/blogindex/plugins/comment/valid.js}"></script>
<script th:src="@{/blogindex/plugins/getCookie/getCookie.js}"></script>
<!-- sweetalert -->
<script th:src="@{/blogbackground/plugins/sweetalert/sweetalert.min.js}"></script>
<script th:inline="javascript">
    $(function () {
        $("#back-top").hide();
        $(window).scroll(function () {
            if ($(this).scrollTop() > 300) {
                $('#back-top').fadeIn();
            } else {
                $('#back-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-top a').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });

        $('pre code').each(function (i, block) {
            hljs.highlightBlock(block);
        });

        $('article h1, article h2, article h3, article h4, article h5').find('a').removeAttr('target')
    })

</script>
</html>
